/installation-output.txt
/.cask/
/melpa/
/node_modules/
/omnisharp-roslyn/

/test/MinimalSolution/minimal/.ecukes-failing-scenarios
/test/MinimalSolution/minimal/RenameFileTest.cs

# Autosave, lock, and/or backup files made by emacs
**/#*
.*
*~

# Some entities (such as el-get) like to byte-compile elisp
*.elc
